<?xml version="1.0"?>
<launch>
    <!-- starts bebop driver -->
    <include file="$(find bebop_driver)/launch/bebop_node.launch">
        <arg name="config_file"
            value="$(find foresight)/param/bebop_config.yaml"/>
    </include>

    <!-- starts joystick control -->
    <remap from="/bebop/cmd_vel" to="/setpoint_vel"/>
    <include file="$(find bebop_tools)/launch/joy_teleop.launch">
        <arg name="joy_dev" value="/dev/input/js0"/>
        <!-- <arg name="joy_config" value="xbox360"/> -->
        <arg name="joy_config" value="log710"/>
    </include>

    <arg name="quad_xacro"
        default="$(find hector_quadrotor_description)/urdf/quadrotor.urdf.xacro"/>

    <param name="quad_robot_description"
        command="$(find xacro)/xacro $(arg quad_xacro)" />

</launch>
