<?xml version="1.0"?>
<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
        <param name="frame_id" value="base_link"/>
    </node>
    <node pkg="foresight" type="frontier_cloud.py" name="frontier_pub" output="screen"/>
    <include file="$(find foresight)/launch/sensors/laserscan_multi_merger.launch"/>

    <!-- base_link to IMU/FCU -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_fcu"
        args="0.02 0 0 0 0 0 quad/base_link fcu 100" />

    <node pkg="tf" type="static_transform_publisher" name="shaqiri_to_base_link"
        args="0 0 0 0 0 0 wallar_shaqiri quad/base_link 100" />

    <!-- base_link to back_camera -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_back_camera"
        args="-0.072 0 0 0 3.14 0 quad/base_link quad/back_camera_link 100" />

    <!-- Car TF model -->
    <node pkg="tf" type="static_transform_publisher" name="car_to_car_hood"
        args="1 0 0 0 0 0 car/base_link car/hood_link 100" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_car_2" -->
    <!--     args="0 0 0 0 0 0 map car/base_link 100" /> -->

    <node pkg="tf" type="static_transform_publisher" name="map_to_car"
        args="0 0 0 0 0 0 map base_link 100" />

    <arg name="host" default="raphaelchang.com" />
    <arg name="port" default="8080"/>
    <node pkg="canopy_client" type="client_node.py" name="canopy_client_node" output="screen">
        <param name="name" value="car"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="PsFXjmWpszr6acSKL" />
        <param name="description" value="Car namespace" />
        <rosparam>
            publishing:
                - /frontier
                - /tf
            types:
                - sensor_msgs/PointCloud
                - tf2_msgs/TFMessage
            trusted:
                - ".*"
            global_frames:
                - map
        </rosparam>
    </node>

</launch>
