<?xml version="1.0"?>
<launch>
    <include file="$(find foresight)/launch/bringup/pixhawk.launch"/>
    <include file="$(find foresight)/launch/localization/static_transformations.launch"/>
    <node pkg="foresight" type="tf_to_pose.py" name="vision_pose" output="screen">
        <param name="pose_topic" value="/mavros/vision_pose/pose"/>
        <param name="fixed_frame" value="map"/>
        <param name="child_frame" value="wallar_shaqiri"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="shaqiri_to_base_link"
        args="0 0 0 0 0 0 wallar_shaqiri base_link 100" />

    <node pkg="foresight" type="tf_to_pose.py" name="tf_to_pose">
        <param name="pose_topic" value="/mavros/local_position/pose"/>
        <param name="fixed_frame" value="map"/>
        <param name="child_frame" value="base_link"/>
    </node>
    <node pkg="foresight" type="info_planner.py" name="planner" output="screen">
        <remap from="/frontier" to="/car/frontier"/>
        <remap from="/scan_polygon" to="/car/scan_polygon"/>
    </node>
</launch>
