<?xml version="1.0"?>
<launch>
    <include file="$(find foresight)/launch/bringup/pixhawk.launch"/>
    <node pkg="foresight" type="tf_to_pose.py" name="vision_pose" output="screen">
        <param name="pose_topic" value="/mavros/vision_pose/pose"/>
        <param name="fixed_frame" value="map"/>
        <param name="child_frame" value="wallar_shaqiri"/>
    </node>

    <!-- base_link to IMU/FCU -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_fcu"
        args="0.02 0 0 0 0 0 quad/base_link fcu 100" />

    <node pkg="tf" type="static_transform_publisher" name="shaqiri_to_base_link"
        args="0 0 0 0 0 0 wallar_shaqiri quad/base_link 100" />

    <!-- base_link to back_camera -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_back_camera"
        args="-0.072 0 0 0 3.14 0 quad/base_link quad/back_camera_link 100" />

    <!-- Car TF model -->
    <node pkg="tf" type="static_transform_publisher" name="car_to_car_hood"
        args="1 0 0 0 0 0 car/base_link car/hood_link 100" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_car"
        args="0 0 0 0 0 0 map car/base_link 100" />

    <node pkg="foresight" type="tf_to_pose.py" name="tf_to_pose">
        <param name="pose_topic" value="/mavros/local_position/pose"/>
        <param name="fixed_frame" value="map"/>
        <param name="child_frame" value="quad/base_link"/>
    </node>
    <node pkg="foresight" type="info_planner.py" name="planner" output="screen">
        <remap from="/frontier" to="/car/frontier"/>
    </node>
</launch>
