<?xml version="1.0"?>
<launch>
    <arg name="camera_name" default="camera"/>
    <arg name="index" default="0"/>
    <arg name="camera_info_url" default="file://$(find foresight)/param/camera.yaml"/>
    <arg name="vendor" default="0x05a3"/>
    <arg name="product" default="0x9230"/>
    <arg name="video_mode" default="mjpeg"/>
    <arg name="frame_rate" default="120"/>
    <arg name="width" default="640"/>
    <arg name="height" default="480"/>
    <arg name="exposure_absolute" default="0.006"/>

    <group ns="$(arg camera_name)">
        <node pkg="libuvc_camera" type="camera_node" name="$(arg camera_name)" output="screen">
            <!-- Parameters used to find the camera -->
            <param name="vendor" value="$(arg vendor)"/>
            <param name="product" value="$(arg product)"/>
            <param name="serial" value="0"/>
            <!-- If the above parameters aren't unique, choose the first match: -->
            <param name="index" value="$(arg index)"/>

            <!-- Image size and type -->
            <param name="width" value="$(arg width)"/>
            <param name="height" value="$(arg height)"/>
            <!-- choose whichever uncompressed format the camera supports: -->
            <param name="video_mode" value="$(arg video_mode)"/> <!-- or yuyv/nv12/jpeg -->
            <param name="frame_rate" value="$(arg frame_rate)"/>
            <param name="frame_id" value="$(arg camera_name)"/>

            <param name="timestamp_method" value="start"/> <!-- start of frame -->
            <param name="camera_info_url" value="$(arg camera_info_url)"/>
            <param name="frame_id" value="$(arg camera_name)"/>

            <param name="auto_exposure" value="0"/>
            <param name="auto_exposure_priority" value="0"/>
            <param name="exposure_absolute" value="$(arg exposure_absolute)"/>
            <param name="auto_white_balance" value="false"/>
        </node>
        <node pkg="image_proc" type="image_proc" name="image_proc"/>
    </group>
</launch>
