<?xml version="1.0"?>
<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node">
        <param name="frame_id" value="odom"/>
        <param name="port" value="/dev/ttyACM1"/>
    </node>

    <!-- <node pkg="ira_laser_tools" name="laserscan_multi_merger" -->
    <!--     type="laserscan_multi_merger" output="screen"> -->
	<!-- 	<param name="cloud_destination_topic" value="/merged_cloud"/> -->
	<!-- 	<param name="scan_destination_topic" value="/scan_multi"/> -->
    <!--     <param name="laserscan_topics" value ="/scan"/> -->
	<!-- </node> -->
</launch>
