<?xml version="1.0"?>
<launch>
    <node name="camera_calibration" pkg="camera_calibration" type="cameracalibrator.py" output="screen"
        args="--size 8x6 --square 0.08934 --approximate=0.1">
        <remap from="right" to="/stereo/right/image_raw"/>
        <remap from="left" to="/stereo/left/image_raw"/>
        <remap from="right_camera" to="/stereo/right"/>
        <remap from="left_camera" to="/stereo/left"/>
    </node>
</launch>
