<?xml version="1.0"?>
<launch>
    <remap from="/usb_cam/camera_info" to="/camera_info"/>
    <remap from="/usb_cam/image_raw" to="/image_rect"/>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video1"/>
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam"/>
        <param name="io_method" value="mmap"/>
    </node>

    <node pkg="apriltags_ros" type="apriltag_detector_node"
        name="at_node" output="screen">
        <rosparam param="tag_descriptions">
            [{id: 0, size: 0.085, frame_id: landing_pad},
             {id: 1, size: 0.085, frame_id: "1"}]
        </rosparam>
    </node>

    <node pkg="foresight" type="apriltags_tf.py"
        name="apriltags_tf" output="screen"/>
</launch>
