<?xml version="1.0"?>
<launch>
    <node pkg="apriltags_ros" type="apriltag_detector_node"
        name="at_node" output="screen">
        <remap to="/camera/camera_info" from="/camera_info"/>
        <remap to="/camera/image_rect" from="/image_rect"/>
        <param name="image_transport" value="compressed"/>
        <param name="sensor_frame_id" value="base_link"/>
        <rosparam param="tag_descriptions">
            [{id: 0, size: 0.157163, frame_id: car}]
        </rosparam>
    </node>

    <node pkg="foresight" type="apriltags_tf.py"
        name="apriltags_tf" output="screen"/>
</launch>
