<?xml version="1.0"?>
<launch>
    <!-- base_link to IMU/FCU -->
    <node pkg="tf" type="static_transform_publisher"
        name="map_to_car_base_link"
        args="0 0 0 0 0 0 map imu_filtered 100" />

    <!-- base_link to back_camera -->
<!--     <node pkg="tf" type="static_transform_publisher" name="base_link_to_back_camera"
        args="-0.072 0 0 0 2.4 0 base_link back_camera_link 100" /> -->

    <!-- base_link to left stereo camera -->
<!--     <node pkg="tf" type="static_transform_publisher" name="base_link_to_left"
        args="0.0183 0.031 0 0 -0.785 1.57 base_link left 100" /> -->

    <!-- base_link to right stereo camera -->
<!--     <node pkg="tf" type="static_transform_publisher" name="base_link_to_right"
        args="0.0183 -0.031 0 0 -0.785 1.57 base_link right 100" /> -->
</launch>
