<?xml version="1.0"?>
<launch>
    <arg name="car_frame_id" value="body"/>
    <arg name="quad_frame_id" value="base_link"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_car"
        args="0 0 0.1 0 0.0 0 map $(arg car_frame_id) 100"/>

    <node pkg="foresight" type="error_measurement.py" name="error_measurement" />

    <!-- Provides a pose from the car to the bebop -->
    <include file="$(find decawave_localization)/launch/uwb_sim.launch">
        <arg name="car_frame_id" value="$(arg car_frame_id)"/>
        <arg name="pose_cov_topic" value="uwb_pose_cov"/>
        <arg name="sensor_noise" value="0.0003"/>
        <arg name="cov_x_2d" value="7.0"/>
        <arg name="cov_y_2d" value="7.0"/>
        <arg name="cov_z_2d" value="7.0"/>
        <arg name="cov_x_3d" value="10.0"/>
        <arg name="cov_y_3d" value="10.0"/>
        <arg name="cov_z_3d" value="40.0"/>
    </include>

    <node pkg="foresight" name="quad_uwb_sim" type="quad_uwb_sim.py">
    </node>

        <!-- Uses the UWBs and the odometry to localize the bebop -->
    <include file="$(find foresight)/launch/fake_car/helper_quad_sim.launch">
        <arg name="car_frame_id" value="$(arg car_frame_id)"/>
        <arg name="quad_frame_id" value="$(arg quad_frame_id)"/>
    </include>
</launch>
